.App {
    font-family: sans-serif;
    text-align: center;
}

.search-group {
    position: relative;
    margin: auto;
    width: 250px;
    background: #f2f2f2;
    margin: 20px auto;
}

.search-input {
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
}

.search-input:focus+button {
    color: #1abc9c;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 2px;
    z-index: 2;
}